<div class="header">
  <h3 class="text-muted">Zipcode Appfigures Weather</h3>
</div>

<div tabindex="-1" id="error-container" ng-class="{hidden: !errorExists}" class="alert alert-danger fade in">
    <a href="#" class="close" data-dismiss="alert" aria-hidden="true">&times;</a>
    <h5 class="title">{{error.title}}</h5>
    <p class="description">{{error.description}}</p>
</div>

<div tabindex="-2" class="modal fade" id="loading-window" role="dialog"
        aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>{{modal.title}}</h4>
            </div>
            <div class="modal-body">
                {{modal.description}}
            </div>
        </div>
    </div>

</div>

<br>
<div class="row">
    <div class="col-xs-10">
        <p>
            Please enter a comma (or space) seperated set of zipcodes to check the weather.
        </p>
        <p>
            <strong>NOTE:</strong> The temperature is given to 2 decimal places at the <em>most</em>.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-xs-10">
        <div class="input-group">
            <input id="zipcode-text" type="text" class="form-control" placeholder="Enter Zipcode"
                    ng-keydown="executeSearch($event)" ng-model="data.zipcode">
            <div class="input-group-btn" data-toggle="buttons">
                <label class="btn btn-default active" id="fahrenheit-btn" ng-click="showValuesInFahrenheit()">
                    <input type="radio" name="degree-type" value="F">Fahrenheit
                </label>
                <label class="btn btn-default" id="celsius-btn" ng-click="showValuesInCelsius()">
                    <input type="radio" name="degree-type" value="C">Celsius
                </label>
            </div>
        </div>

    </div>
    <div class="col-xs-2">
        <button type="button" class="btn btn-primary" data-toggle="tooltip"
                data-original-title="Too Lazy for Entering Zipcode? Use Geolocation instead!"
                data-placement="top" ng-click="getZipCodeWithGeolocation()">
            <i class="glyphicon glyphicon-map-marker"></i>
        </button>
    </div>
</div>

<br>
<div class="row">
    <div class="col-xs-10">
        <table class="table table-striped table-bordered">
            <thead>
                <th>Zip Code</th>
                <th>Temperature</th>
            </thead>
            <tbody>
                <tr ng-repeat="result in weatherResults">
                    <td>{{result.zipcode}}</td>
                    <td ng-show="showCelsiusValues">{{result.temperatureInCelsius}}</td>
                    <td ng-show="!showCelsiusValues">{{result.temperatureInFahrenheit}}</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>